<main class="cta" style="padding-bottom: 50px;">
  <div class="contact-cta">
    <h3 class="h2">
      Bring your project to life
    </h3>
    <p>
      Tell us more about your project. We are happy to support you.
    </p>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email">
    </div>
    <div class="form-group">
      <label for="">Tell us about your vision</label>
      <textarea></textarea>
    </div>
    <a href="https://maxinit.com/en/contact"
       class="btn btn-primary">
      Contact us
    </a>
  </div>
</main>
