<footer>
  <div class="menus">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-12 col-md-4">
          <div class="info">
            <a href="">
                 SSA
            </a>
            <p>
              Everyone deserves great software.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="row">
            <div class="col-sm-4 col-lg-4">
              <ul>
                <li>
                  <a href="./home"
                     title="Services">
                    მთავარი
                  </a>
                </li>
                <li>
                  <a href="./services"
                     title="Services">
                    სერვისები
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 col-lg-4">
              <ul class="">
                <li>
                  <a href="./projects"
                     title="Work">
                    პროექტები
                  </a>
                </li>

                <li>
                  <a href="./courses"
                     target="_blank"
                     title="Jobs">
                    კურსები
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 col-lg-4">
              <ul>
                <li>
                  <a routerLink="./contact"
                     title="Contact">
                    კონტაქტი
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copy">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
                    <span>
                        Powered by <a
                      >SSA</a>.
                        Copyright &copy; 2023.
                        All rights reserved.
                    </span>
        </div>
      </div>
    </div>
  </div>
</footer>
