<main class="main">
  <div class="work" data-aos="fade-in">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text">
            <h1>
              გამორჩეული კლიენტები და პროექტები.
            </h1>
            <p>
              შეიტყვეთ მეტი შერჩეული პროექტების შესახებ, რომლებიც ასახავს ჩვენს შედეგებს, მომხმარებლის ამაღლებულ მეტრიკას და მთლიანობაში
              ღირებულება, რომელსაც ჩვენ ვაძლევთ ბიზნესს.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4" data-aos="fade-in">
          <div class="client nn-ge">
            <div class="wrapper">
                            <span>
                                 Real Estate
                            </span>
              <h3>aversiclinic.ge</h3>
              <p>
                კოდის მიმოხილვა, შეცდომების გამოსწორება, ახალი ფუნქციების დამატება, ახლის დამატება
                მოდულები, ვებსაიტის მუშაობის და სიჩქარის დაფიქსირება
              </p>
              <a href="https://aversiclinic.ge/"
                 target="_blank">
                See project
              </a>

            </div>
            <div class="image">
              <img data-src="https://maxinit.com/images/clients/nnge.jpeg"
                   alt="nn.ge  - Vacation Rentals in Georgia"
                   class="lazy ">
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4" data-aos="fade-in">
          <div class="client housing">
            <div class="wrapper">
                            <span>
                                Real Estate
                            </span>
              <h3>
                Companion AI
              </h3>
              <p>
                One of the largest real estate company on the Georgian market with booking and
                e-commerce functions.
              </p>
              <div class="app-icons">
                <a href="https://apps.apple.com/us/app/housing-ge-real-estate/id6445900101"
                   target="_blank">
                  <img data-src="https://maxinit.com/images/app-icons/appstore.svg"
                       alt="HOUSING iOS App"
                       class="lazy ">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.maxinit.housing"
                   target="_blank">
                  <img data-src="https://maxinit.com/images/app-icons/playstore.svg"
                       alt="HOUSING Android App"
                       class="lazy ">
                </a>
              </div>
            </div>
            <div class="image">
              <img data-src="https://maxinit.com/images/clients/housing-app.png"
                   alt="HOUSING"
                   class="lazy ">
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4" data-aos="fade-in">
          <div class="client wetterheute">
            <div class="wrapper">
                            <span>
                                 Forecast Services
                            </span>
              <h3>wetterheute</h3>
              <p>
                Very precise forecast services for Germany with more than 20k users per day.
              </p>
              <a href="https://wetterheute.de"
                 target="_blank">
                See project
              </a>

            </div>
            <div class="image">
              <img data-src="https://maxinit.com/images/clients/wetterheute.jpeg"
                   alt="wetterheute.de"
                   class="lazy ">
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4" data-aos="fade-in">
          <div class="client alliance">
            <div class="wrapper">
                            <span>
                                Estate Development
                            </span>
              <h3>
                Alliance Group
              </h3>
              <p>
                Alliance Group is one of the largest investment company in Georgia that builds and
                sells apartments in Georgia (Invested: 800M $).
              </p>
              <a href="https://alliance.ge/en/"
                 target="_blank"
                 rel="nofollow">
                See project
              </a>

            </div>
            <div class="image">
              <img data-src="https://maxinit.com/images/clients/alliance.jpeg"
                   alt="Alliance"
                   class="lazy ">
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4" data-aos="fade-in">
          <div class="client housing">
            <div class="wrapper">
                            <span>
                                Real Estate
                            </span>
              <h3>
                HOUSING
              </h3>
              <p>
                One of the largest real estate company on the Georgian market with booking and
                e-commerce functions.
              </p>
              <a href="https://housing.ge"
                 target="_blank">
                See project
              </a>
            </div>
            <div class="image">
              <img data-src="https://maxinit.com/images/clients/housing-georgia.jpeg"
                   alt="HOUSING"
                   class="lazy ">
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4" data-aos="fade-in">
          <div class="client iremax">
            <div class="wrapper">
                                 <span>
                                eCommerce
                            </span>
              <h3>IREMAX</h3>
              <p>
                The company profile is the import of branded equipment and accessories, their retail
                sale and distribution to provide customers with quality products and services.
              </p>
              <a href="https://iremaxusa.com"
                 target="_blank">
                See project
              </a>
            </div>
            <div class="image">
              <img data-src="https://maxinit.com/images/clients/iremax.jpeg"
                   alt="IREMAX Georgia"
                   class="lazy ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
