<h2 class="title-curse">ჩვენი <span  class="curse">კურსები</span></h2>

<div class="container">
    <app-course-card img="/assets/course-img-frontend.jpg" courseName="Front-End Development" skill="HTML, CSS/SCSS, JS/TS, ANGULAR" name="თაზო გელაშვილი"></app-course-card>
    <app-course-card img="/assets/6502421 (1).jpg" courseName="Back-end development" skill="Node.JS, Express(Mongodb)" name="SSA Compant"></app-course-card>
    <app-course-card img="/assets/6502421 (1).jpg" courseName="Digital design" skill="UI/UX" name="SSA Compant"></app-course-card>
</div>
